<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <!--
        테이블 TB_ROLE 테이블의 SYSTEM 역할의 값은 ROLE_SYSTEM이다.
        그렇지만 아래 값을 보면 hasRole('SYSTEM')을 비교하고 있는 것을 볼 수 있다.
        hasRole 메서드의 경우 접두어 'ROLE_' 값을 붙여 조회하기 때문에 매칭이 된다.

        스프링 security에서 제공하는 역할(Role)과 권한(Authority)을 혼동하는 경우가 있는데 이는 비슷하면서도 다르다.
        예를 들어 A계정과 B계정은 둘 다 시스템관리자로서 SYSTEM 역할을 가지고 있지만
        원칙상 A계정은 게시판의 글을 등록할 수만 있으며, B계정은 등록된 글을 수정만 할 수 있다고 했을 때
        역할은 같지만 권한은 다르게 설정해야 할 것이다.
    -->

    <!-- SYSTEM 역할을 가졌다면 이 글이 보인다. -->
    <h3 sec:authorize="hasRole(T(com.jinleebriller.jinleespace.enums.UserRole).SYSTEM)">Has SYSTEM Role</h3>

    <!-- USER 역할을 가졌다면 이 글이 보인다. -->
    <h3 sec:authorize="hasRole(T(com.jinleebriller.jinleespace.enums.UserRole).USER)">Has USER Role</h3>

    <!-- USER 역할을 가졌다면 이 글이 보인다. -->
    <h3 sec:authorize="hasRole('BOARD')">Has BOARD Role</h3>

    <!--  어떤 역할이든 상관 없이 인증이 되었다면 이 글이 보인다. -->
    <h3 sec:authorize="isAuthenticated()">Only Authenticated user can see this Text</h3>

    <div>
        Authorities : <span sec:authentication="principal.authorities"></span>
    </div>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>