<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css"></th:block>
    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function(){
                $("#searchBtn").on("click", function(e) {
                    e.preventDefault();
                    page(0);
                });
            });

            function page(page) {
                var searchDateType = $("#searchDateType").val();
                var searchBy = $("#searchBy").val();
                var searchQuery = $("#searchQuery").val();

                location.href="/post/list/" + page + "?searchDateType=" + searchDateType
                                                       + "&searchBy=" + searchBy
                                                       + "&searchQuery=" + searchQuery;
            }

        </script>
    </th:block>

    <div layout:fragment="content">

        <form th:action="@{'/post/list/' + ${postList.number}}" role="form" method="get" th:object="${postList}">

            <!-- 조회한 포스트 데이터 -->
            <table>
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>등록자</td>
                        <td>조회수</td>
                        <td>등록일</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post, status: ${postList.getContent()}">
                        <td th:text="${post.idNumber}"></td>
                        <td>
                            <a th:href="'/post/postView/' + ${post.idNumber}" th:text="${post.title}"></a>
                        </td>
                        <td th:text="${post.createdBy}"></td>
                        <td th:text="${post.viewCount}"></td>
                        <td th:text="${post.regTime}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- 하단의 페이지 번호를 보여주는 영역 -->
            <div th:with="start=${(postList.number/maxPage)*maxPage + 1}, end=(${(postList.totalPages == 0) ? 1 : (start + (maxPage - 1) < postList.totalPages ? start + (maxPage - 1) : postList.totalPages)})">
                <ul class="pagination">
                    <li class="page" th:style="${postList.first} ? 'display:none' : ''">
                        <a th:onclick="'javascript:page(' + ${postList.number - 1} + ')'" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>

                    <li class="page" th:each="page: ${#numbers.sequence(start, end)}">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text">[[${page}]]</a>
                    </li>

                    <li class="page" th:style="${postList.last} ? 'display:none' : ''">
                        <a th:onclick="'javascript:page(' + ${postList.number + 1} + ')'" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 하단의 포스트 상세 검색창 -->
            <div th:object="${postSearchDto}">
                <select th:field="*{searchDateType}">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <select th:field="*{searchBy}">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="createdBy">작성자</option>
                </select>
                <input th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요.">
                <button type="submit">검색</button>
            </div>

        </form>

    </div>

</html>